<div class="uk-container uk-container-large">
  <div class="uk-grid">
    <div class="uk-width-1-5 uk-visible@s">
      <div class="uk-card uk-card-default uk-card-small uk-card-body">
        <h3 class="uk-card-title">Trending Categories</h3>
        <ul class="uk-list uk-list-divider">
          <li cclass="light-font"><a href="#">All Offers</a></li>
          <li><a href="#" class="light-font">Women shops</a></li>
          <li><a href="#" class="light-font">Men shops</a></li>

          <li><a href="#" class="light-font"> Accesories</a></li>
          <li><a href="#" class="light-font">Computer Accesories</a></li>
          <li><a href="#" class="light-font">Skin Care</a></li>
          <li><a href="#" class="light-font">Sport and Outdoors</a></li>
          <li><a href="#" class="light-font">Makeup tools</a></li>
        </ul>
      </div>
    </div>
    <div class="uk-width-4-5@m">
      <div uk-slideshow="animation: push">
        <div
          class="uk-position-relative uk-visible-toggle uk-light"
          tabindex="-1"
        >
          <ul class="uk-slideshow-items">
            <li>
              <img
                src="https://source.unsplash.com/1600x900/?market,people"
                alt=""
                uk-cover
              />
              <div
                class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom"
              >
                <h3 class="uk-margin-remove">Get Awesome Deals</h3>
                <p class="uk-margin-remove">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <button class="uk-button uk-button-primary">Get Deal</button>
              </div>
            </li>
            <li>
              <img
                src="https://source.unsplash.com/1600x900/?ecommerce,online store"
                alt=""
                uk-cover
              />
              <div
                class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom"
              >
                <h3 class="uk-margin-remove">Get Awesome Deals</h3>
                <p class="uk-margin-remove">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <button class="uk-button uk-button-primary">Get Deal</button>
              </div>
            </li>
            <li>
              <img
                src="https://source.unsplash.com/1600x900/?trader,market,international"
                alt=""
                uk-cover
              />
              <div
                class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom"
              >
                <h3 class="uk-margin-remove">Get Awesome Deals</h3>
                <p class="uk-margin-remove">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <button class="uk-button uk-button-primary">Get Deal</button>
              </div>
            </li>
          </ul>

          <a
            class="uk-position-center-left uk-position-small uk-hidden-hover"
            href="#"
            uk-slidenav-previous
            uk-slideshow-item="previous"
          ></a>
          <a
            class="uk-position-center-right uk-position-small uk-hidden-hover"
            href="#"
            uk-slidenav-next
            uk-slideshow-item="next"
          ></a>
        </div>

        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-xlarge">
  <div uk-slider="autoplay: true">
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
      <ul
        class="uk-slider-items uk-child-width-1-5@s uk-child-width-1-2 uk-grid"
      >
        <li>
          <div class="uk-card">
            <div class="uk-card-media-top">
              <img
                src="https://source.unsplash.com/570x360/?women dress"
                alt=""
              />
            </div>
            <div class="uk-card-body">
              <p class="uk-card-title dark-color">Women Dress - (50)</p>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-card">
            <div class="uk-card-media-top">
              <img
                src="https://source.unsplash.com/570x360/?Men cloths"
                alt=""
              />
            </div>
            <div class="uk-card-body">
              <p class="uk-card-title dark-color">Men Cloths (102)</p>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-card">
            <div class="uk-card-media-top">
              <img src="https://source.unsplash.com/570x360/?Laptops" alt="" />
            </div>
            <div class="uk-card-body">
              <p class="uk-card-title dark-color">Laptops (1,202)</p>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-card">
            <div class="uk-card-media-top">
              <img
                src="https://source.unsplash.com/570x360/?Smart Phones"
                alt=""
              />
            </div>
            <div class="uk-card-body">
              <p class="uk-card-title dark-color">Smart Phones (900)</p>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-card">
            <div class="uk-card-media-top">
              <img
                src="https://source.unsplash.com/570x360/?Baby Cloths"
                alt=""
              />
            </div>
            <div class="uk-card-body">
              <p class="uk-card-title dark-color">Baby Cloths (12)</p>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-card">
            <div class="uk-card-media-top">
              <img
                src="https://source.unsplash.com/570x360/?Funitures"
                alt=""
              />
            </div>
            <div class="uk-card-body">
              <p class="uk-card-title dark-color">Funitures (120)</p>
            </div>
          </div>
        </li>
      </ul>

      <a
        class="uk-position-center-left uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-previous
        uk-slider-item="previous"
      ></a>
      <a
        class="uk-position-center-right uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-next
        uk-slider-item="next"
      ></a>
    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
  </div>
</div>
